<div class="container">
  <button type="button" class="btn btn-success"
  style="float:right; margin:5px; border-radius:15px;" name="button">
  <i class="glyphicon glyphicon-plus"></i></button>
  <table class="table table-bordered table-striped table-hover table-condensed ">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Platform</th>
    <th>Action</th>
  </tr>

  <tr ng-repeat="game in games">
    <td>{{game.name}}</td>
    <td>{{game.price | currency}}</td>
    <td align="middle">{{game.platform}}</td>
    <td align="middle"><button ng-click="getGameDetails(game.id)"  type="button"
       class="btn btn-info" name="button">Info</button></td>
  </tr>
  </table>

<div ng-show="showDetails">
    <button style="float:right; margin:5px;" ng-click="hideDetails()" type="button" class="btn">
      <i class="glyphicon glyphicon-remove"></i>
     </button>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Platform</th>
        <th>Score</th>
        <th>Genre</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>
          <input type="text" class="form-control" ng-disabled="true"
          ng-model="gameDetail.id" name="id" value="">
        </td>
        <td>
          <input type="text" class="form-control"
          ng-model="gameDetail.name" name="name" value="">
        </td>
        <td>
          <input type="text" class="form-control"
          ng-model="gameDetail.price" name="price" value="">
        </td>

        <td>
          <input type="text" class="form-control"
          ng-model="gameDetail.rating" name="rating" value="">
        </td>
        <td>
          <input type="text" class="form-control"
          ng-model="gameDetail.platform" name="platform" value="">
        </td>

        <td>
          <input type="text" class="form-control"
          ng-model="gameDetail.score" name="score" value="">
        </td>
        <td>
          <input type="text" class="form-control"
          ng-model="gameDetail.genre" name="genre" value="">
        </td>
        <td>
          <button ng-click="saveGame()" class="btn btn-warning" type="button" name="button">
          <i class="glyphicon glyphicon-ok glyphicon "></i></button>
          <button ng-click="deleteGame()" class="btn btn-danger" type="button" name="button"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
      </tr>

    </table>
  </div>
</div>
